.formulario {
    margin-left: auto;
    margin-right: 10vw;
    margin-bottom: 100px;
    background-color: #FFF;
    width: 500px;
    color: black;
    border: 1px solid #000;
    border-radius: 25px;

}

.form-pipefy {
    width: 100%;
    border-radius: 25px;
    height: 1000px;
}

@media only screen and (max-width: 600px) {
    .form-pipefy {

        border-radius: 0;
    }

    .formulario {
        width: 100%;
        border: none;
        border-radius: 0;
        margin-top: -25px;
        margin-bottom: 0;

        padding-top: 10px;
        padding-bottom: 25px;
    }
}

body {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url("../img/logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 0, 10%, 10%;
    background-size: 100%, 500px;
}